/*  ——————————————————————————
    GLOBAL STYLES — TYPOGRAPHY
    —————————————————————————— */

    html {
      font-size: 1rem;
    }

    body {
      font-family: Garamond;
    //font-size: 12px;
    //line-height:1.3;
      background-image: url("template/bg1.png");
    color: #30459c;
    }

    a {
      color: #30459c;
    }

    a:hover {
      color: #30459c;
      text-decoration: none;
      font-style: italic;
    }

    h1 {
      text-align: center;
      font-family: "Futura-CondensedExtraBold", Futura, sans-serif;
      font-stretch: condensed;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 2rem;
    }
    h5 {
        font-family: "Futura-CondensedExtraBold", Futura, sans-serif;
        font-stretch: condensed;
        font-weight: bold;
        text-transform: uppercase;
    }

    .heading {
        text-transform: none;
    }

    figcaption {
      line-height: 1.1;
      font-size: .7rem !important;
      letter-spacing: .05rem;
    }

    a h5{
    color: #30459c;
    }

    a h5:hover {
      color: #30459c;
      text-decoration: none;
      font-style: italic;
    }

    h3 {
      font-family: Garamond;
      font-size: 1.2rem;
      line-height: 1;
    }

    sup a {
    //  font-family: "Futura-Condensed", Futura, sans-serif;
      color: #30459c;
      margin-left: .5px;
    }

    sup a:hover{
      color: #246fbc;
      border: none;
      text-decoration: none;
    }

    .white {
      color: #fff;
    }

    .center {
      text-align: center;
    }

    .footnotes li {
      display: list-item;
      color: rgba(26,49,145, .9);
      list-style-position: inside;
      padding: 20px 1%;
      border-bottom: 1.5px solid rgba(26,49,145, .5);
      line-height: 1.2;
      letter-spacing: .5px;
    }

    .table {
      font-family: "Futura-CondensedExtraBold", Futura, sans-serif;
      font-stretch: condensed;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 2px;
      line-height: 1.2;
    }
/*  ————————————————————————————————
    GLOBAL STYLES — COVER THUMBNAILS
    ———————————————————————————————— */

    #cover {
      background: #bde;
      background-position: center;
      background-size: cover;
      background-color: #30459c;
      background-blend-mode: multiply;
      }

    #cover:hover{
      background-color: #30459c;
      background-blend-mode:normal;
      color: #30459c;
    }

    #cover h1:hover{
      //color: #30459c;
    }

    .blue {
      border-bottom: solid 10px #30459c;
    }

    .red {
      border-bottom: solid 10px #db4226;
    }

    .circle {
        width: 90px;
        height: 90px;
        background: #30459c;
        margin-left: 8% !important;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px; }
/*  ——————————————————————————————————
    RESPONSIVE STYLES — GENERAL/MOBILE
    —————————————————————————————————— */

    .offset-left {
      margin: auto;
      text-align: center;
      padding: 6%;

    }

    .offset-right {
      text-align: center;
      padding: 6%;
      margin: auto;
    }

    .offset-right-q {
      margin:auto;
      padding: 6%;
      width: 100%;
    }

    .offset-left-q {
      margin:auto;
      padding: 6%;
      width: 100%;
    }

    .footnotes{
        background-color: rgba(255,255,255,.5);
    }
/*  ——— RESPONSIVE STYLES — MOBILE */
    @include media-breakpoint-up(sm) {
             html {
               font-size: 1.2rem;
             }
    }

/*  ——— RESPONSIVE STYLES — TABLET */
    @include media-breakpoint-up(md) {
             html {
               font-size: 1.4rem;
             }
    }

/*  ——— RESPONSIVE STYLES — LAPTOP */
    @include media-breakpoint-up(lg) {
             html {
                font-size: 1.6rem;
             }
    }
/*  ———————————————————————————————
    RESPONSIVE STYLES — IMAGE WRAPS
    ——————————————————————————————— */
    @media screen and (min-width: 992px) {

        body {
        }

        h3 {
            font-size: 1.5rem;
        }

        .offset-left {
          float: left;
          margin-left: -30%;
          padding-right: 30px;
          max-width: 50%;
          padding-bottom: 1%;
        }

        .offset-left-less {
          float: left;
          margin-left: -50%;
          padding-right: 30px;
          max-width: 50%;
          padding-bottom: 1%;
        }

        .offset-right {
          float: right;
          margin-right: -50% !important;
          padding-left: 30px;
          max-width: 60%;
          padding-bottom: 1%;
        }

        .small-img {
            max-width: 50%;
        }

        .large-img {
            max-width: 75%;
        }
        .offset-right-q {
          float: right;
          margin-right: -50%;
          padding-left: 30px;
          width: 70%;
        }

        .offset-left-q {
          float: left;
          margin-left: -30%;
          padding-right: 10px;
          width: 60%;
        }

        h1 {
          text-align: center;
          font-family: "Futura-CondensedExtraBold", Futura, sans-serif;
          font-stretch: condensed;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 2.5rem;
        }

        .subhead {
            max-width: 70%;
            margin: auto auto auto 5%;
            padding: 1% 0;
        }

}


/*  ————————————————————
        FOOTER
    ————————————————————  */

.footer {
    background-color: #30459c !important;
    width: auto;
    display: block;
    padding: 1% 0;
}


.heading {
    text-transform: lowercase;
    overflow: hidden;
}

.heading:after {
    content:"";
    display: inline-block;
    height: 0.6em;
    vertical-align: bottom;
    width: 40%;
    margin-right: -100%;
    margin-left: 2%;
    border-top: 6px solid #30459c;
}
